.btn{
  //this singular ampersand translates to button element
  &,
  &:link,
  &:visited {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 9px 12px;
    position: relative;
    display: inline-block;
    border: $border-light-gray;
    border-radius:3px;
    height:32px;
    cursor: pointer;
    background-color: white;
  }

  &:hover {
  }

  &:active,
  &:focus{
    border: none;
  }
}
